    .container { 
    padding: 2px;
    width: 70%;
    background-color: #942807;
    box-shadow: 0px 3px 40px rgb(0, 0, 0);
    border-radius: 20px;
    margin-left: 0;
    margin-bottom: 40px;
    font-size: 15px;
    font-family: Verdana;
}


.container-video { 
    padding: 2px;
    width: 30%;
    background-color: #942807;
    box-shadow: 0px 3px 40px rgb(0, 0, 0);
    border-radius: 20px;
    margin-left: 0;
    margin-bottom: 40px;
    font-size: 15px;
    font-family: Verdana;
}

    body{
    background-color:#7c0c0c;
}

fieldset{
    padding: 5px;
    border-radius: 20px;
    border-width: 2px;
    border-color:#362219;
}


.title{
    padding: 5px;
    width:50%;
    height: 100%;
    background-color:#e47e09;
    box-shadow: 0px 3px 40px rgb(0, 0, 0);
    margin: 0 auto;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 40px;
    
}

h1{
    font-size: 50px;

    padding: 3px;
    
}

h2{
    font-size:4rem;
    
    padding:1px;
    margin-top: 1px;
    margin-bottom:15px;
}


h3{
    font-weight: bold;
    margin-right:15px;
    font-size: 2rem;
    text-align: center;
}

.conteudo {
    display: flex;
    align-items: center; /* centraliza verticalmente */
    gap: 20px; /* espaço entre imagem e texto */
}

.img {
    width: 250px; /* ajuste o tamanho conforme quiser */
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
}

.texto {
    flex: 1; /* ocupa o espaço restante */
    text-align: left;
}